.texto-preto{
    color: #000000 !important;
}
.border{
    border: 0 none !important;
    border-bottom: solid 1px #000000 !important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

h6{
    color: #000000;
}