.texto-preto {
    color: #000000 !important;
}

.borda,
input {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5) inset !important;
    border: 1px solid #b7b7b7 !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.page-header {
    background-image: url("../../assets/img/imgFundo.jpg");
    background-size: cover;
}