.sec-servicos {
    overflow: hidden;
}

.card-servico-feito {
    cursor: pointer;
    background-color: #f9f9f9;
}

.card-estatistica {
    cursor: pointer;
    background-color: #f9f9f9;
    span {
        font-size: 30px;
    }
}